# Funções

#### 1.1 Criação de funções

In [ ]:
def imprime_nome(name, age):
    print(f'Meu nome é {name}, e tenho {age} anos')

imprime_nome('Eduardo',22)

Meu nome é Eduardo, e tenho 22 anos

In [ ]:
def imprime_nome(name,age=19):
    print(f'Meu nome é {name} e tenho {age} anos')
    
#def imprime_nome(name,age=19, height): Não permite uma variável depois de uma variável com valor padrão
#    print(f'Meu nome é {name} e tenho {age} anos')

In [ ]:
def imprime_nome(*infos): #Passa uma lista, **infos para um dicionário
    print(f'Meu nome é {infos[0]} e tenho {infos[1]} anos')

imprime_nome('Eduardo',23)

In [ ]:
def calc(a,b):
    add = a + b
    mult = a * b

    return add, mult #irá retornar uma tupla

result_add, result_mult = calc(2,3) #o retorno da função se dividir entre essas duas variáveis
print(result_add,result_mult)

# 2. Manipulação de Strings

#### 2.1 String em múltiplas linhas

In [ ]:
demo = """
=================
|   Demonstração |
|   de           |
|   String       |
|   Com          |
|   Múltiplas    |
|   Linhas       |
=================
"""

print(demo)

=================
|   Demonstração |
|   de           |
|   String       |
|   Com          |
|   Múltiplas    |
|   Linhas       |
=================

#### 2.2 Concatenação de Strings

In [ ]:
a = "Hello"
b = "World"

message = a + " " + b + "!"
print(message)

Hello World!

#### 2.3 Iterando em Strings

In [ ]:
name = "Carlos Eduardo" #14 caracteres, ultimo caractere de um vetor igual a 13 pois começa do 0
print(name[13])

o

In [ ]:
len(name)

14

In [ ]:
if 'Car' in name:
    print("Car está na string")

Car está na string

#### 2.4 Modificando Strings

In [ ]:
print(name.upper(), name.lower(),name.title()) #upper() Transforma todos os caracteres na string em maiúsculo 
                                               #lower() Transforma todos os caracrteres na string em minúsculo
                                               #title() todo caractere de uma palavra coloca em letra maiúscula

CARLOS EDUARDO Carlos Eduardo

In [13]:
name = input('Transforme seu nome:')

if name.lower() == 'eduardo':
    print('É o Eduardo!')

In [1]:
nome_dois = 'Tulio Freitas'

if nome_dois.strip() == 'Tulio Freitas':
    print("É o Tulio")

É o Tulio

In [7]:
print(nome_dois.replace("T", "F"))

Fulio Freitas

In [8]:
compras = "banana, usa, maça, pera"

print(compras.split())

lista_de_compras = compras.split(',')
print(lista_de_compras)

['banana,', 'usa,', 'maça,', 'pera']
['banana', ' usa', ' maça', ' pera']

In [9]:
nova_lista = [string.strip() for string in lista_de_compras if "b" in string]
print(nova_lista)

['banana']